<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials :: head" />
<body>
<div sec:authorize="isAuthenticated()">

    <nav th:replace="partials :: navbar" />

    <div class="container mt-5">
        <h1>Add Student/Applicant Event</h1>
        <div class="card border-info mb-3" style="max-width: 20rem;">
            <div class="card-header">Add Event</div>
            <div class="card-body">
                <h4></h4>
            <form method="post" th:action="@{/users/addEvent}" th:object="${event}">
                <div class="form-group">
                    <label for="eventName">Event Name:</label>
                    <select class="custom-select" id="eventName" th:field="*{type.name}">
                        <option th:each="event : ${eventTypes}"
                                th:value="${event.id}"
                                th:utext="${event.name}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                <label for="datepicker">Event Date:</label>
                <input type="date" id="datepicker" th:field="*{date}" width="276" />
                </div>
                <div class="form-group">
                    <label for="grade">Grade (if applicable):</label>
                    <input id="grade" name="grade" th:field="*{score}" type="number" placeholder="100" min="0" max="100" value="100"/>
                </div>
                <div class="form-group">
                    <label for="notes">Event Notes</label>
                    <textarea class="form-control" id="notes" th:field="*{notes}" rows="5"></textarea>
                </div>

                <input type="hidden"  th:value="${student.id}" name="student"/>

                <button type="submit">Create Event</button>

            </form>
                </div>
            </div>
        </div>
</div>

<script>
    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4'
    });
</script>
</body>
</html>