<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials :: head" />
<body>

<!--<div sec:authorize="isAuthenticated()">-->
<!--This content is only shown to authenticated users.-->

<!--User ID: <span th:text="${#authentication.principal.id}">defaultID</span>-->
<!--Username: <span th:text="${#authentication.principal.username}">defaultUser</span>-->
<!--Email: <span th:text="${#authentication.principal.email}">defaultEmail</span>-->
<!--Admin: <span th:text="${#authentication.principal.admin}">defaultAdmin</span>-->
<!--</div>-->

<div sec:authorize="isAuthenticated()">

    <nav th:replace="partials :: navbar" />
    <div class="container-fluid mt-5">
        <h1>Applicant QuickView</h1>
        <!--<h5 class="mb-4">Click on students first name to see a profile.</h5>-->
        <table class="table table-hover" id="applicantsTable">
            <tr class="table-success">
                <th scope="col" onclick="sortTable(0, 'applicantsTable')">First Name</th>
                <th scope="col" onclick="sortTable(1, 'applicantsTable')" class="pl-4">Last Name</th>
                <th scope="col" onclick="sortTable(2, 'applicantsTable')">Email</th>
                <th scope="col" onclick="sortTable(3, 'applicantsTable')">Phone</th>
                <th scope="col" onclick="sortTable(4, 'applicantsTable')" class="pl-4">Allow Texts</th>
                <th scope="col" onclick="sortTable(5, 'applicantsTable')">Address</th>
                <th scope="col" onclick="sortTable(6, 'applicantsTable')">City</th>
                <th scope="col"></th>
            </tr>
            <tr style="font-size:15px" th:each="applicant : ${applicants}">
                <td scope="row"><p th:text="${applicant.firstName}" /></td>
                <td><p th:text="${applicant.lastName}"/></td>
                <td><p th:text="${applicant.email}"/></td>
                <td><p th:text="${applicant.phone}"/></td>
                <td><p th:text="${applicant.allowSms}"/></td>
                <td><p th:text="${applicant.streetAddress}"/></td>
                <td><p th:text="${applicant.cityOfResidence}"/></td>
                <td><a th:href="@{/users/students/{id}(id=${applicant.id})}">View</a></td>
            </tr>
        </table>
    </div>

</div>

<th:block th:replace="partials :: scripts" />
<script th:src="@{/js/sortTable.js}" />
</body>
</html>