<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials :: head" />
<body>

<div sec:authorize="isAuthenticated()">

    <nav th:replace="partials :: navbar" />
    <div class="container">
        <h1 class="mb-4 mt-5">Student Profile Viewer</h1>
        <a th:href="@{/users/addEvent/{id}(id=${student.id})"
        <div class="alert alert-success" th:if="${student.cohort != null}">
            <h4 class="mb-4">Current Cohort: <h4 th:text="${student.cohort.name}"/></h4>
        </div>
        <div class="alert alert-success" th:if="${cohort == null}">
            <h4 class="mb-4">Current Cohort: Unassigned</h4>
        </div>
        <div class="alert alert-danger">
            <h4 class="mb-4">Applicant/Student Status</h4>
        </div>
    </div>
</div>
</body>
</html>