<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials :: head" />
<body>

<div sec:authorize="isAuthenticated()">

    <nav th:replace="partials :: navbar" />
    <div class="container">
        <h1 class="mb-4">Student Profile Viewer</h1>
        <div class="alert alert-success" th:if="${student.cohort != null}">
            <h4 class="mb-4">Current Cohort: <h4 th:text="${student.cohort.name}"/></h4>
        </div>
        <div class="card border-success mb-3" style="max-width: 100%;">
            <div class="card-header"><h6 th:text="${student.firstName} + '  ' + ${student.lastName}"/></div>
            <div class="card-body">
                <h4 class="card-title">Personal Information</h4>
                <h6 class="card-text">Email: <h6  th:text="${student.email}"/></h6>
                <h6 class="card-text">Phone Number: <h6  th:text="${student.phone}"/></h6>
                <h6 class="card-text">Allows Texts: <h6  th:text="${student.allowSms}"/></h6>
                <h6 class="card-text">Age: <h6  th:text="${student.age}"/></h6>
                <h6 class="card-text">Gender: <h6  th:text="${student.gender}"/></h6>
            </div>
        </div>
        <div class="card border-success mb-3" style="max-width: 100%;">
            <div class="card-header">Location Information</div>
            <div class="card-body">
                <h4 class="card-title">Current Residence</h4>
                <h6 class="card-text">Street Address: <h6  th:text="${student.streetAddress}"/></h6>
                <h6 class="card-text">City: <h6  th:text="${student.cityOfResidence}"/></h6>
                <h6 class="card-text">Zipcode: <h6  th:text="${student.zipCode}"/></h6>
            </div>
        </div>
        <div class="card border-success mb-3" style="max-width: 100%;">
            <div class="card-header">Profile Information</div>
            <div class="card-body">
                <h4 class="card-title">Codeup Profile</h4>
                <h6 class="card-text">Payment Options: <h6  th:text="${student.paymentOptions}"/></h6>
                <h6 class="card-text">GI Bill: <h6  th:text="${student.giBill}"/></h6>
                <h6 class="card-text">Free Schedule: <h6  th:text="${student.freeSchedule}"/></h6>
                <h6 class="card-text">Resume File: <h6  th:text="${student.resumeFile}"/></h6>
                <h6 class="card-text">How They Heard About Codeup: <h6  th:text="${student.hearAboutUs}"/></h6>
                <h6 class="card-text">Billboards: <h6  th:text="${student.billboards}"/></h6>
                <h6 class="card-text">Description: <h6  th:text="${student.describe}"/></h6>
                <h6 class="card-text">Describe Other: <h6  th:text="${student.descOther}"/></h6>
                <h6 class="card-text">Why They Want to Attend: <h6  th:text="${student.why}"/></h6>
                <h6 class="card-text">Questions: <h6  th:text="${student.questions}"/></h6>
            </div>
        </div>
    </div>

</div>
</body>
</html>