<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials :: head" />
<body>

<!--<div sec:authorize="isAuthenticated()">-->
    <!--This content is only shown to authenticated users.-->

    <!--User ID: <span th:text="${#authentication.principal.id}">defaultID</span>-->
    <!--Username: <span th:text="${#authentication.principal.username}">defaultUser</span>-->
    <!--Email: <span th:text="${#authentication.principal.email}">defaultEmail</span>-->
    <!--Admin: <span th:text="${#authentication.principal.admin}">defaultAdmin</span>-->
<!--</div>-->

<!--first name, last name, email, phone, gender, giBIll, referrer, resumeFile, city, questions-->
<div sec:authorize="isAuthenticated()">

    <nav th:replace="partials :: navbar" />

    <div class="container-fluid mt-5">
        <h1>Student QuickView</h1>
        <!--<h5 class="mb-4">Click on students first name to see a profile.</h5>-->
        <table class="table table-hover" id="studentsTable">
            <tr class="table-success">
                <th scope="col" onclick="sortTable(0, 'studentsTable')">First Name</th>
                <th scope="col" onclick="sortTable(1, 'studentsTable')">Last Name</th>
                <th scope="col" onclick="sortTable(2, 'studentsTable')">Email</th>
                <th scope="col" onclick="sortTable(3, 'studentsTable')">Phone</th>
                <th scope="col" onclick="sortTable(4, 'studentsTable')">Gender</th>
                <th scope="col" onclick="sortTable(5, 'studentsTable')">GI Bill</th>
                <th scope="col" onclick="sortTable(6, 'studentsTable')">City of Residence</th>
                <th scope="col" onclick="sortTable(7, 'studentsTable')">Last Event</th>
                <th scope="col"></th>
            </tr>
            <tr style="font-size:15px" th:each="student : ${students}">
                <td scope="row" th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td>
                    <span th:text="${student.email}"
                        data-container="body" data-placement="top"
                        data-toggle="popover" data-trigger="hover"
                        data-content="Single click to edit, double click to send email."
                        th:attr="data-target=${student.email}"
                        class="emailLinks">
                    </span>
                </td>
                <td th:text="${student.phone}"></td>
                <td th:text="${student.gender.toString().charAt(0)}"></td>
                <td th:text="${student.giBill}"></td>
                <td th:text="${student.cityOfResidence}"></td>
                <td th:text="${student.events.get(0).id}"></td>
                <td><a th:href="@{/users/students/{id}(id=${student.id})}">View</a></td>
            </tr>
        </table>

    </div>

</div>

<th:block th:replace="partials :: scripts" />
<script th:src="@{/js/sortTable.js}" />
<script th:src="@{/js/students.js}" />
</body>
</html>