<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials :: head" />
<body>

<div sec:authorize="isAuthenticated()">

    <nav th:replace="partials :: navbar" />
    <div class="container">
        <h1 class="mb-4">Student Profile Viewer</h1>
        <div class="alert alert-success" th:if="${student.cohort != null}">
            <h4 class="mb-4">Current Cohort: <h4 th:text="${student.cohort.name}"/></h4>
        </div>
        <div class="alert alert-success" th:if="${cohort == null}">
            <h4 class="mb-4">Current Cohort: Unassigned</h4>
        </div>
        <div class="card border-success mb-3" style="max-width: 100%;">
            <div class="card-header"><h3 th:text="${student.firstName} + '  ' + ${student.lastName}"/></div>
            <div class="card-body">
                <h4 class="card-title">Personal Information</h4>
                <h6 class="card-text" style="color:#74b566"><strong>Email:</strong> <h5 th:text="${student.email}"/></h6>
                <h6 class="card-text" style="color:#74b566"><strong>Phone Number:</strong> <h5  th:text="${student.phone}"/></h6>
                <h6 class="card-text" style="color:#74b566"><strong>Allows Texts:</strong> <h5  th:text="${student.allowSms}"/></h6>
                <h6 class="card-text" style="color:#74b566"><strong>Age:</strong> <h5  th:text="${student.age}"/></h6>
                <h6 class="card-text" style="color:#74b566"><strong>Gender:</strong> <h5  th:text="${gender}"/></h6>
            </div>
        </div>
        <div class="card border-success mb-3" style="max-width: 100%;">
            <div class="card-header">Location Information</div>
            <div class="card-body">
                <h4 class="card-title">Current Residence</h4>
                <h6 class="card-text" style="color:#74b566"><strong>Street Address:</strong> <h5  th:text="${student.streetAddress}"/></h6>
                <h6 class="card-text" style="color:#74b566"><strong>City:</strong> <h5  th:text="${student.cityOfResidence}"/></h6>
                <h6 class="card-text" style="color:#74b566"><strong>Zip Code:</strong> <h5  th:text="${student.zipCode}"/></h6>
            </div>
        </div>
        <div class="card border-success mb-3" style="max-width: 100%;">
            <div class="card-header">Profile Information</div>
            <div class="card-body">
                <h4 class="card-title">Application Profile</h4>
                <h6 class="card-text" style="color:#74b566"><strong>Payment Options:</strong></h6>
                <ul th:each="paymentOption : ${student.paymentOptions}" >
                    <li><p th:text="${paymentOption.name}" /></li>
                </ul>
                <h6 class="card-text" style="color:#74b566"><strong>GI Bill:</strong></h6>
                <div th:if="${student.giBill}">
                    <h5>Yes</h5>
                </div>
                <div th:if="${!student.giBill}">
                    <h5>No</h5>
                </div>
                <h6 class="card-text" style="color:#74b566"><strong>Free Schedule:</strong></h6>
                <div th:if="${student.freeSchedule}">
                    <h5>Yes</h5>
                </div>
                <div th:if="${!student.freeSchedule}">
                    <h5>No</h5>
                </div>
                <h6 class="card-text" style="color:#74b566"><strong>Resume File:</strong> <h6  th:text="${student.resumeFile}"/></h6>
                <div th:if="${student.resumeFile == null}">
                    <h5>No Resume Uploaded</h5>
                </div>
                <h6 class="card-text" style="color:#74b566"><strong>How They Heard About Codeup:</strong></h6>

                <div th:each="hauOption : ${student.hauOptions}">
                    <div>
                        <p th:text="${hauOption.name}" />
                    </div>
                </div>

                <div th:if="${socMedia}">
                    <p>Twitter / Facebook</p>
                </div>

                <h6 class="card-text" style="color:#74b566"><strong>Have they seen billboards around town:</strong> <h5  th:text="${billboard}"/></h6>
                <h6 class="card-text" style="color:#74b566"><strong>Best description of self:</strong> <h5  th:text="${description}"/></h6>
                <h6 class="card-text" style="color:#74b566"><strong>Describe Other:</strong><h5  th:text="${student.descOther}"/></h6>
                <h6 class="card-text" style="color:#74b566"><strong>Why They Want to Attend:</strong> <h5  th:text="${student.why}"/></h6>
                <h6 class="card-text" style="color:#74b566"><strong>Questions:</strong> <h5  th:text="${student.questions}"/></h6>
            </div>
        </div>
        <div class="card border-success">
            <div class="card-body">
                <ul th:each="event : ${events}">
                    <li><span th:text="${event.id}" />:<span th:text="${event.score}"></span></li>
                </ul>
            </div>
        </div>
    </div>

</div>
</body>
</html>
