<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials :: head" />
<body>

<div sec:authorize="isAuthenticated()">

    <nav th:replace="partials :: navbar" />

    <div class="container mt-5">
        <div class="d-flex justify-content-between">
            <h1 class="mb-4">Profile Viewer</h1>
            <h4 class="mb-4"><a th:href="@{/users/studentEvents/{id}(id=${student.id})}">Applicant/Student Events</a></h4>
        </div>

        <div class="alert alert-success" th:if="${student.cohort != null}">
            <h4 class="mb-4">Current Cohort: <h4 th:text="${student.cohort.name}"/></h4>
        </div>
        <div class="alert alert-success" th:if="${cohort == null}">
            <h4 class="mb-4">Current Cohort: Unassigned</h4>
        </div>
        <h4>Applicant's Progress: </h4><h5><span th:text="${bProgress}"/>% Complete</h5>
        <div class="progress mb-4" style="height:20px">
            <div class="progress-bar bg-success" role="progressbar" th:style="'width:' + ${bProgress} + '%'" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card border-success mb-3" style="max-width: 100%;">
            <div class="card-header"><h3 th:text="${student.firstName} + '  ' + ${student.lastName}"/></div>
            <div class="card-body">
                <h4 class="card-title">Personal Information</h4>
                <h6 class="card-text" style="color:#74b566"><strong>Email:</strong> <h5 th:text="${student.email}"/></h6>
                <h6 class="card-text" style="color:#74b566"><strong>Phone Number:</strong> <h5  th:text="${student.phone}"/></h6>
                <h6 class="card-text" style="color:#74b566"><strong>Allows Texts:</strong> <h5  th:text="${student.allowSms}"/></h6>
                <h6 class="card-text" style="color:#74b566"><strong>Age:</strong> <h5  th:text="${student.age}"/></h6>
                <h6 class="card-text" style="color:#74b566"><strong>Gender:</strong> <h5  th:text="${gender}"/></h6>
            </div>
        </div>
        <div class="card border-success mb-3" style="max-width: 100%;">
            <div class="card-header">Location Information</div>
            <div class="card-body">
                <h4 class="card-title">Current Residence</h4>
                <h6 class="card-text" style="color:#74b566"><strong>Street Address:</strong> <h5  th:text="${student.streetAddress}"/></h6>
                <h6 class="card-text" style="color:#74b566"><strong>City:</strong> <h5  th:text="${student.cityOfResidence}"/></h6>
                <h6 class="card-text" style="color:#74b566"><strong>Zip Code:</strong> <h5  th:text="${student.zipCode}"/></h6>
            </div>
        </div>
        <div class="card border-success mb-3" style="max-width: 100%;">
            <div class="card-header">Profile Information</div>
            <div class="card-body">
                <h4 class="card-title">Application Profile</h4>
                <h6 class="card-text" style="color:#74b566"><strong>Payment Options:</strong></h6>
                <ul th:each="paymentOption : ${student.paymentOptions}" >
                    <li><p th:text="${paymentOption.name}" /></li>
                </ul>
                <h6 class="card-text" style="color:#74b566"><strong>GI Bill:</strong></h6>
                <div th:if="${student.giBill}">
                    <p>Yes</p>
                </div>
                <div th:if="${!student.giBill}">
                    <p>No</p>
                </div>
                <h6 class="card-text" style="color:#74b566"><strong>Free Schedule:</strong></h6>
                <div th:if="${student.freeSchedule}">
                    <p>Yes</p>
                </div>
                <div th:if="${!student.freeSchedule}">
                    <p>No</p>
                </div>
                <h6 class="card-text" style="color:#74b566"><strong>Resume File:</strong></h6>
                <div th:if="${student.resumeFile != null}">
                    <p th:text="${student.resumeFile}"></p>
                </div>
                <div th:if="${student.resumeFile == null}">
                    <p>No Resume Uploaded</p>
                </div>
                <h6 class="card-text" style="color:#74b566"><strong>How They Heard About Codeup:</strong></h6>
                <div th:each="hauOption : ${student.hauOptions}">
                    <div>
                        <p th:text="${hauOption.name}" />
                    </div>
                </div>

                <div th:if="${socMedia}">
                    <p>Twitter / Facebook</p>
                </div>

                <h6 class="card-text" style="color:#74b566"><strong>Have they seen billboards around town:</strong></h6>
                <p th:text="${billboard}"></p>

                <h6 class="card-text" style="color:#74b566"><strong>Best description of self:</strong></h6>
                <p th:text="${description}"></p>

                <h6 class="card-text" style="color:#74b566"><strong>Describe Other:</strong></h6>
                <p th:text="${student.descOther}"></p>

                <h6 class="card-text" style="color:#74b566"><strong>Why They Want to Attend:</strong></h6>
                <p th:text="${student.why}"></p>

                <h6 class="card-text" style="color:#74b566"><strong>Questions:</strong></h6>
                <p th:text="${student.questions}"></p>

            </div>
        </div>
        <!--<div class="card border-success">-->
            <!--<div class="card-header">Student Progress Events</div>-->
            <!--<div class="card-body">-->
                <!--<div class="card-title"></div>-->
                <!--<ul th:each="event : ${events}">-->
                    <!--<li><span th:text="${event != null ? event.type.name : 'No Event Data'}" />:-->
                        <!--<span th:text="${event != null ? event.score != null ? event.score : 'No Score' : 'N/A'}"></span></li>-->
                    <!--&lt;!&ndash;<li><span th:text="${event.name}"/>: </li>&ndash;&gt;-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->

    </div>
</div>
</body>
</html>
