<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Apply Now</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.lux.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body class="apply">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand">
        <img th:src="@{/img/codeupicon-2.png}" />
    </span>
</nav>

<div class="container-fluid">

    <div class="card border-right-0 border-left-0">
        <div class="card-header py-5">
            <h1 class="apply-header">Apply Now</h1>
        </div>
        <div class="card-body mt-5">
            <div class="row">
                <div class="col text-center">
                    <h3 class="apply-header">Which program are you applying for?</h3>
                    <p>Codeup offers two immersive career accelerators. Please select your desired program below!</p>
                </div>
            </div>
        </div>
    </div>

</div>

<p th:text="${type}" ></p>

</body>
</html>