<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials :: head" />
<body>

<nav th:replace="partials :: navbar" />

<!--<div sec:authentication="isAnonymous()">-->
    <!--<nav th:replace="partials :: navbar" />-->
<!--</div>-->


<!--<div sec:authentication="isFullyAuthenticated()">-->
    <!--<nav th:replace="partials :: navbar-auth" />-->
<!--</div>-->

<!--<img src="../static/img/codeupicon-2.png" height="82" width="240"/>-->
<div class="container">
<h1 class="mt-5">Welcome to the <span style="color:#88b053">CodeUp</span> Student Dashboard</h1>
</div>
</body>
</html>